/* Global */
body{
   margin: 0 auto; /* Zentrieren des Contents */
   max-width: 1100px;
}



.nav{
}

.ul{
}

.li{
	float: left;
}



/*  ----------- GRID -----------  */

/*  SECTIONS  */

header {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: red;
}

.navi {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: green;
}

section {
	clear: both;
	padding: 0px;
	margin: 0px;
	background-color: grey;
	text-align: center;
}

article {
	float: center;
	background-color: lightblue;
}

footer {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: darkred;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

.mid{
  	width: 32.26%;
}

/*  SMALL */
@media only screen and (max-width: 450px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_6_of_6, .mid { width: 100%; }
	.span_5_of_6 { width: 50%;}

}

/*  MEDIUM */
@media only screen and (max-width: 850px) and (min-width: 451px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6 { width: 50%; }
	.mid {width: 100%;}
}
