/*
 * TITUSFOTOGRAFIE
 * Stylesheet _ Global
 * Version 1.0
*/

/* Global */
@font-face{
    font-family: 'Icons';
    src: url('fonts/icons_service/IcoMoon-Free.ttf') format('truetype');
}
body{
    margin: 0 auto;
}

/* Navbar incl. Logo */
.site_navbar{
    /*position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;*/
    background: #141414;
    border-bottom: 2px solid #19B5FE;
}
.site_navbar nav{
    position: relative;
}
.site_navbar nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35%;
    right: 0;
}
.site_navbar nav ul li{
    float: left;
    margin-right: 2em;
}
.site_navbar nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: 2px solid #19B5FE;
}
.site_navbar nav ul li a:hover{
    color: #19B5FE;
    border-bottom: 0px;
}

.site_navbar_logo{
    float: left;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
/*.hamburger{
    position: absolute;
    top: 60%;
}*/

/* Header / Image Slider */
.site_header{
}
}
#slides{
    display: none;
}

/* Services */
.site_service{
    background: #141414;
    border-bottom:1px solid #333333;
}
.site_service_icon{
    text-align: center;
    color: white;
}
.site_service_text{
    font-size: 1.5em;
    color: white;
    display: block;
}

/* Works */
.site_works{
    background: #141414;
    padding-top: 1em;
}
.site_works article{
    margin-bottom: 1em;
}
.site_works img{
    max-width: 100%;
}

/* Pre-Footer */

/* Footer */

/* Media Queries */
@media screen and (min-width: 961px){
    .hamburger{
        display: none;
    }
}
@media screen and (max-width: 961px){
    .site_navbar nav ul{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .site_header{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
        clip: rect(1px, 1px, 1px, 1px);
    }
}