/*
    Titus-Fotografie
    grid.css
    2015
*/

/* GLOBAL */
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background: #1d1d1d;
    font-family: droid-sans, sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.heading-light{
    font-size: 2em;
    padding: 0.8em;
    text-transform: uppercase;
    text-align: center;
    color: #4183D7;
    font-weight: bold;
}
.heading-dark{
    font-size: 2em;
    padding: 0.8em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}
.border-light{
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
    background-color: #2C3E50;
}
.border-dark{
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
    background-color: #FFFFFF;
}

/* HEADER */
.site-header{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background: #1d1d1d;
    color: #FFFFFF;
    border-bottom: 1px solid #4183D7;
}
/* Logo + Name */
.site-header h1{
    position: absolute;
    top: 0;
    left: 0.5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    z-index: 2;
}
.site-header img{
    max-width: 100%;
    width: 4em;
    float: left;
    margin-right: 10px;
}
/* Navi */
#nav{
    position: absolute;
    right: 0;
    line-height: 50px;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
#nav ul li a:hover{
    color: #4183D7;
}

/* SLIDER */
.site-slider{
    position: relative;
    z-index: -999;
    max-height: 80vh;
}
.slidesjs-stop{
    display: none !important;
}
.slidesjs-navigation{
    display: none;
}
#slides{
    display: none;
}
#slider-content1, #slider-content2, #slider-content3{
    display: none;
}
#slider-content1 h3, #slider-content2 h3, #slider-content3 h3{
    display: none;
}
#slider-content1 p, #slider-content2 p, #slider-content3 p{
    display: none;
}

/* SERVICE */
.site-service{
    background: white;
    text-align: center;
}
.site-service article{
    padding: 1em;
}
.site-service article h3{
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    color: #2C3E50;
}
.site-service article p{
    text-align: center;
    color: #333;
}
.site-service img.service-icon{
    width: 4em;
    padding: 0.5em;
    border-radius: 10px 0 10px 0;
    background-color: #4183D7;
    color: white;
}

/* LATEST WORK */
.site-portfolio{
    background: #4183D7;
    text-align: center;
}
.site-portfolio .border{
    background: white;
}
.site-portfolio article{
    padding: 0.5em;
    margin-bottom: 1em;
}
.site-portfolio a img{
    border: 2px solid #ffffff;
    border-radius: 5px;
}

/* FOOTER */
.site-footer{
    background: #1d1d1d;
}
.site-footer .copyright{
    text-align: center;
    font-size: 1em;
    color: white;
    padding: 0.5em;
}
.site-footer .social{
    text-align: center;
    padding: 0.5em;
}
.site-footer .contact{
    padding: 0.5em;
}
.site-footer form p{
    font-size: 1em;
    color: silver;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    color: white;
}
.site-footer form input{
    padding: 1em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px 0 10px 0;
    background: #171717;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #1e1e1e;
    border-left: 0;
    border-right: 0;
    color: white;
}
.site-footer form textarea{
    width: 95%;
    padding: 1em;
    margin-left: 2.5%;
    border-radius: 10px 0 10px 0;
    background: #171717;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #2f2f2f;
    color: white;
}
.site-footer form button{
    width: 95%;
    margin-left: 2.5%;
    padding: 1em;
    border-radius: 5px;
    background: #4183D7;
    border: 0px;
    margin-top: 0.5em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}
.site-footer form button:hover{
    background: white;
    color: #4183D7;
}
.site-footer h2{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 0.5em;
}
.site-footer h3{
    text-align: center;
    font-size: 1em;
    color: silver;
    padding: 0.5em;
}
.site-footer ul li.social-icon{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: white;
    margin: 0.5em;
    border-radius: 5px;
}
.site-footer ul li.social-icon i{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
}
.site-footer ul li.social-icon a{
    color: #4183D7;
}
.site-footer ul li h4.social-name{
    display: none;
}
.site-footer ul li.social-icon:hover{
    background-color: #2c3e50;
}
.site-footer div img.footer-icon{
    display: none;
}
/* MAIN PAGE END */

/* OTHER PAGES */
/* ABOUT US */
.site-about{
    text-align: center;
    background: white;
}
.site-about article{
    padding: 1em 0.5em 1em 0.5em;
}
.site-about article.about-border{
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.site-about article img{
    margin: 0.5em;
    max-width: 10em;
    border-radius: 100%;
    border: 3px solid silver;
}
.site-about article img.about-logo{
    border-radius: 0;
    border-color: white;
}
.site-about article h2{
    font-weight: bold;
    color: #2C3E50;
    font-size: 1.1em;
    padding: 0.5em;
}
.site-about article p{
    padding: 0.5em;
    text-align: left;
}

/* WORKSHOPS */
.site-workshop{
    background: white;
}
div.site-workshop-table{
    margin-bottom: 0.5em;
}
div.site-workshop-header{
    height: 3em;
    width: 100%;
    position: relative;
    background: #2c3e50;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}
div.site-workshop-header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
div.site-workshop-text{
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 0.7em;
    transition: height 1s ease;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
div.site-workshop-text:hover{
    height: auto;
}
div.site-workshop-text h2{
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.3em;
    color: #4183D7;
}
div.site-workshop-text ul.workshop-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
div.site-workshop-text ul li{
    padding: 0.3em;
    text-indent: -.7em;
    font-style: italic;
}
div.site-workshop-text ul li:before{
    content:"• ";
    color: #4183D7;
}
div.site-workshop-text p.text-under{
    padding-top: 0.5em;
}
div.site-workshop-text p.text-under strong{
    font-weight: bold;
}
div.site-workshop-time{
    height: 70px;
    width: 100%;
    position: relative;
    background: #ECECEC;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
div.site-workshop-time h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    line-height: 0.5em;
    text-align: center;
}
div.site-workshop-time h2 span{
    font-weight: normal;
    font-size: 0.5em;
}
div.site-workshop-price{
    height: 70px;
    width: 100%;
    position: relative;
    background: #F39C12;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
div.site-workshop-price h2{
    color: #2c3e50;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.5em;
}
div.site-workshop-price h2 span{
    font-weight: normal;
    font-size: 0.5em;
}
div.site-workshop-button{
    height: 70px;
    width: 100%;
    position: relative;
    background: #2c3e50;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    -moz-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
div.site-workshop-button a{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8em 2.5em 0.8em 2.5em;
}
div.site-workshop-button:hover{
    background: #4183D7;
}

/* WORKSHOP RENT */
.site-workshop-rent{
    background: white;
    text-align: center;
}
.site-workshop-rent h2{
    font-size: 1.2em;
    padding: 0.5em;
}
.site-workshop-rent form p{
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: left;
}
.site-workshop-rent form input{
    padding: 0.5em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 5px 0 5px 0;
    border: 2px solid #4183D7;
    background: #ECF0F1;
    margin-bottom: 1em;
}
.site-workshop-rent form select{
    padding: 0.5em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 5px 0 5px 0;
    border: 2px solid #4183D7;
    background: #ECF0F1;
    
}
.site-workshop-rent form textarea{
    padding: 0.5em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 5px 0 5px 0;
    border: 2px solid #4183D7;
    background: #ECF0F1;
}
.site-workshop-rent form button{
    width: 95%;
    margin-left: 2.5%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px 0 5px 0;
    border: 0px;
    font-weight: bold;
    font-size: 1.3em;
    background: #4183D7;
    color: white;
}
.site-workshop-rent form button:hover{
    background: #2c3e50;
}

/* CONTACT */
.site-contact{
    background: white;
}
.site-contact article h2{
    font-size: 1em;
}
.site-contact article h3{
    margin-top: 1em;
    font-weight: bold;
    color: #2e3c50;
}
.site-contact article h3 ul{
    text-align: center;
    padding: 0.5em;
}
.site-contact article h3 ul li{
    padding: 0.5em;
}
.site-contact article h3 ul li a i{
    font-size: 1.2em;
    padding-right: 1em;
}
.site-contact article h3 ul li a{
    text-decoration: none;
    color: #4183D7;
}
.site-contact article h4{
    padding: 0.5em;
    margin-top: 0.5em;
}
.site-contact article h4 strong{
    font-weight: bold;
}
.site-contact article.google-api{
    margin-bottom: 1em;
}

/* CONTACT_SEND */
.site-contact-send{
    background: #ffffff;
}
.site-contact-send p{
    font-weight: 1.2em;
    text-align: center;
    padding: 0.5em;
    align-content: center;
}

/* PORTFOLIO */
.site-portfolio{
    background: white;
}
.site-portfolio article{
    position: relative;
    padding: 0;
    margin: 0;
}
.site-portfolio img{
    width: 225px;
    height: 290px;
    padding: 0.5em 0.5em 0 0.5em;
}
.site-portfolio article div.kat-title1{
    height: 300px;
    background: #2e3c50;
    position: relative;
}
.site-portfolio article div.kat-title2{
    height: 300px;
    background: #6C7A89;
    position: relative;
}
.site-portfolio article div.kat-title1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.site-portfolio article div.kat-title2 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.site-portfolio article div.kat-img1{
    height: 300px;
    background: #34495E;
}
.site-portfolio article div.kat-img2{
    height: 300px;
    background: #BDC3C7;
}
.site-portfolio article div.kat-img1 div{
    margin-top: 2px;
}
.site-portfolio article div.kat-img2 div{
    margin-top: 2px;
}
.site-portfolio .kat-last{
    margin-bottom: 1.5em;
}
/* MEDIA QUERIES */
@media screen and (max-width: 420px){
    .site-slider{                       /* SLIDER HIDDEN IN SMARTPHONE-SIZE */
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }
}
@media screen and (min-width: 420px){
    .site-footer div.social h2{
        display: none;
    }
    div.site-workshop-button a{
        padding: 0.8em 1.5em 0.8em 1.5em;
    }
    .site-workshop-rent form button{
        width: 45%;
        margin-left: 54%;
    }
}
@media screen and (min-width: 710px){
    div.site-workshop-button a{
        padding: 0.8em 3em 0.8em 3em;
    }
}
@media  screen and (min-width: 850px){
    .site-workshop-rent form button{
        width: 29.5%;
        margin-left: 69.5%;
       
    }
}
@media screen and (min-width: 1000px){
    div.site-workshop-button a{
        padding: 0.8em 4em 0.8em 4em;
    }
}
@media screen and (min-width: 486px){
    .site-service article{              /* ARTICLES GET MIN-HEIGHT */
        min-height: 230px;
    }
}
@media screen and (min-width: 600px){
    #slider-content1, #slider-content2, #slider-content3{       /* SLIDER-CONTENT GETS DISPLAYED */
        line-height: 25px;
        width: 400px;
        display: none;
        z-index: 11;
        position: absolute;
        top: 35%;
        left: 20%;
        transform: translate(-20%, -50%);
    }
    #slider-content1 h3, #slider-content2 h3, #slider-content3 h3{
        font-size: 1em;
        font-weight: bold;
        padding: 0.5em;
        border-radius: 15px 0 15px 0;
        display: inline-block;
        background-color:bisque;
    }
    #slider-content1{
        display: block;
    }
    #slider-content1 p, #slider-content2 p, #slider-content3 p{
        font-size: 1em;
        margin-top: 1em;
        padding: 0.5em;
        border-radius: 5px;
        display: block;
        background-color:azure;
    }
}
@media screen and (min-width: 860px){
    .site-footer div.social h2{
        display: block;
    }
    .site-footer div.social ul li{
        display: block;
        margin-top: 1em;
    }
    .site-footer ul li h4.social-name{
        display: block;
        color: white;
        padding: 0.5em;
        margin-left: 2em;
        color: silver;
        font-style: italic;
    } 
    .site-footer form p{
        display: none;
    }
    .site-footer form input{
        margin-top: 0.5em;
    }
    .site-footer form textarea{
        margin-top: 0.5em;
    }
    .site-footer div img.footer-icon{
        display: block;
        max-width: 7em;
        margin-left: 50%;
        transform: translate(-50%);
    }
}   
@media screen and (min-width: 900px){
    #slider-content1, #slider-content2, #slider-content3{       /* SLIDER-CONTENT MORE IN MID */
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
    }
    #slider-content1 h3, #slider-content2 h3, #slider-content3 h3{
        font-size: 2em;
    }
    #slider-content1 p, #slider-content2 p, #slider-content3 p{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 800px){
    #nav{                       /*  DROP DOWN NAV IN SMALL-DEVICES  */
        width: 100%;
        top: 65px;
    }
    #nav:before{
        content:'Menue';
        color: white;
        display: block;
        position: absolute;
        right: 3%;
        top: -50px;
        line-height: 40px;
        curser: pointer;
    }
    #nav ul{
        background: #1d1d1d;
        width: 100%;
    }
    #nav ul li{
        float: none;
    }
    #nav ul li a{
        padding: 10px 3%;
        line-height: 20px;
        border-top: 1px solid #333;
    }
    #nav ul li a:hover{
        background: #4183D7;
        color: #ffffff;
    }
    #nav ul{
        transition: 350ms;
        -moz-transition: 350ms;
        -webkit-transition: 350ms;
        transform: perspective(600) rotate3d(0, 0, 0, 0);
        -moz-transform: perspective(600) rotate3d(0, 0, 0, 0);
        -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg);
        transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -webkit-transform-origin: 50% 0;
    }
    #nav.open ul{
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -webkit-transform: perspective(600) rotate3d(0, 0, 0, 0);
    }
}